<launch>
    <arg name="raw_data" default="/data/kitti/raw_data"/>
    <arg name="date" default="2011_09_26"/>
    <arg name="id" default="19"/>

    <arg name="id4d" default="$(eval str(arg('id')).zfill(4))"/>
    <arg name="sync" value="$(arg date)_drive_$(arg id4d)_sync"/>

    <arg name="calib_dir" value="$(arg raw_data)/$(arg date)_calib/$(arg date)"/>
    <arg name="data_dir" value="$(arg raw_data)/$(arg sync)/$(arg date)/$(arg sync)"/>

    <param name="use_sim_time" value="true" />
	<node pkg="kitti_to_rosbag" type="kitti_live_node" name="kitti_to_rosbag" 
        args="$(arg calib_dir) $(arg data_dir)" output="log">
    </node>

    <group ns="dust3r">
		<param name="data_dir" type="string" value="$(arg data_dir)" />
	</group>

    <node pkg="dust3r" type="main.py" name="dust3r_node" output="screen"/>
    <node pkg="dust3r" type="dust3r_test" name="dust3r_test" output="screen">
        <remap from="~/predict_dust3r" to="/dust3r_node/predict_dust3r"/>
        <remap from="~/cam02" to="/cam02"/>
        <remap from="~/cam03" to="/cam03"/>
    </node>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="cam02_cloud_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.01" />
        <param name="min_range" type="double" value="0" />
        <remap from="~/raw_scan" to="/dust3r_test/cam02_cloud"/>
    </node>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="cam03_cloud_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.01" />
        <param name="min_range" type="double" value="0" />
        <remap from="~/raw_scan" to="/dust3r_test/cam03_cloud"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find dust3r)/rviz/test_dust3r.rviz" />

</launch>
