<launch>
    <node pkg="dust3r" type="main.py" name="dust3r_node" output="screen">
        <param name="pretrain" type="string" value="$(find dust3r)/checkpoints/DUSt3R_ViTLarge_BaseDecoder_512_dpt.pth" />
        <param name="device" type="string" value="cuda" />
        <param name="width" type="int" value="512" />

        <param name="frame_view1" type="string" value="camera_color_left" />
        <param name="frame_view2" type="string" value="camera_color_right" />
        <param name="slop" type="double" value="0.015" />

        <remap from="~/view1/image" to="/kitti/camera_color_left/image_raw"/>
        <remap from="~/view2/image" to="/kitti/camera_color_right/image_raw"/>
    </node>
    
    <include file="$(find kitti2bag)/launch/replay.launch"/>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="voxel_grid_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.4" />
        <param name="use_approx" type="bool" value="false" />
        <!-- <remap from="~/raw_scan" to="/kitti/velo/pointcloud"/> -->
    </node>
    
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find dust3r)/rviz/kitti.rviz" />
</launch>