<launch>
    <include file="$(find kitti2bag)/launch/replay.launch"/>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="voxel_grid_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.4" />
        <param name="use_approx" type="bool" value="false" />
        <remap from="~/raw_scan" to="/kitti/velo/pointcloud"/>
    </node>


    <node pkg="dust3r" type="main.py" name="dust3r_node" output="screen">
        <param name="leaf_size" type="double" value="0.4" />
        <param name="use_approx" type="bool" value="false" />
        <remap from="~/raw_scan" to="/kitti/velo/pointcloud"/>
    </node>
    
    
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find dust3r)/rviz/kitti.rviz" />
</launch>