data/
build/
drc
.vscode/

# Large Objects
*.d
*.pyc
*.zip
*.bag
*.bag.active
*.map
*.ply
*.pcd
*.csv
*.pkl
*.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app