<launch>
    <include file="$(find kitti2bag)/launch/replay.launch"/>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="voxel_grid_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.4" />
        <param name="use_approx" type="bool" value="false" />
        <remap from="~/raw_scan" to="/kitti/velo/pointcloud"/>
    </node>
    
    <arg name="solver" default="ndt"/>
    <arg name="visualize" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="is_ndt" value="$(eval arg('solver') == 'ndt')"/>

    <arg if="$(eval arg('solver') == 'ndt')" name="target_topic" value="/kitti/velo/pointcloud" />
    <arg if="$(eval arg('solver') != 'ndt')" name="target_topic" value="/voxel_grid_filter_node/filtered_points" />

    <node pkg="scan_matcher" type="scan_matcher_node" name="scan_matcher_node" output="screen">
        <rosparam file="$(find scan_matcher)/cfg/$(arg solver).yaml" />
        <param name="visualize" type="bool" value="$(arg visualize)" />
        <param name="verbose" type="bool" value="$(arg verbose)" />
        
        <param name="solver" type="string" value="$(arg solver)" />
        <remap from="~/target_scan" to="$(arg target_topic)"/>
        <remap from="~/source_scan" to="/voxel_grid_filter_node/filtered_points"/>
    </node>
</launch>