<launch>
    <include file="$(find kitti2bag)/launch/replay.launch"/>
    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="velodyne_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.5" />
        <param name="use_approx" type="bool" value="false" />
        <remap from="~/raw_scan" to="/kitti/velo/pointcloud"/>
    </node>

    <node pkg="graph_visualizer" type="main.py" name="status_generator_node" output="screen">
        <remap from="~/input_scan" to="/velodyne_filter_node/filtered_points"/>
    </node>

    <node pkg="graph_visualizer" type="graph_visualizer_node" name="graph_visualizer_node" output="screen">
        <remap from="~/input_scan" to="/velodyne_filter_node/filtered_points"/>
        <remap from="~/graph_status" to="/status_generator_node/graph_status"/>
    </node>

    <node pkg="voxel_grid_filter" type="voxel_grid_filter_node" name="combined_filter_node" output="screen">
        <param name="leaf_size" type="double" value="0.5" />
        <remap from="~/raw_scan" to="/graph_visualizer_node/combined_map"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find graph_visualizer)/rviz/test_kitti.rviz" />

</launch>
