<launch>
    <!-- <include file="$(find kitti2bag)/launch/replay.launch"/> -->
    <include file="$(find scan_matcher)/launch/test_kitti.launch">
        <arg name="visualize" value="false" />
    </include>

    <node pkg="imu_integration" type="imu_integration_node" name="imu_integration_node" output="log">
        <!-- <param name="leaf_size" type="double" value="1" />
        <param name="use_approx" type="bool" value="false" />
        <remap from="~/raw_scan" to="/velodyne_points"/> -->
        <param name="visualize" value="true" />
        <remap from="~/imu" to="/kitti/oxts/imu"/>
    </node>

    <node pkg="navsat_bias" type="navsat_bias_node" name="navsat_bias_node" output="screen">
        <param name="cov_x" type="double" value="1.0" />
        <param name="cov_y" type="double" value="1.0" />
        <param name="cov_z" type="double" value="100.0" />
        <remap from="~/navsat_fix" to="/kitti/oxts/gps/fix"/>
    </node>
    
    <node pkg="graph_edge_manager" type="graph_edge_manager_node" name="graph_edge_manager_node" output="screen">
        <param name="window_span" type="double" value="3.0" />
        <param name="update_rate" type="double" value="20.0" />
        <param name="map_frame" type="string" value="imu_link" />
        <param name="lidar_frame" type="string" value="velo_link" />

        <remap from="~/binary_edge" to="/scan_matcher_node/registration_binary_edge"/>
        <remap from="~/unary_edge" to="/navsat_bias_node/gps_unary_edge"/>
        <remap from="~/integrate_imu" to="/imu_integration_node/integrate_imu"/>
        
    </node>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find graph_edge_manager)/rviz/kitti.rviz" />
</launch>