<launch>
    <param name="use_sim_time" value="true" />
	<arg name="imu_bag" value="$(find kitti2bag)/output/imu.bag"/>
    <node pkg="rosbag" type="play" name="kitti_replay_node" output="log" 
        args="--clock --hz=1000000 $(arg imu_bag)"/>

    
    <node pkg="imu_integration" type="imu_integration_node" name="imu_integration_node" output="screen">
        <param name="visualize" value="true" />
        <remap from="~/imu" to="/kitti/oxts/imu"/>
    </node>

    <node pkg="imu_integration" type="empty_time_stamp_publisher.py" name="stamp_publisher" output="screen">
        <!-- <remap from="~integrate_imu" to="/imu_integration_node/integrate_imu"/> -->
    </node>

    <arg name="frame_id" default="velo_link" />
    <node pkg="odom_visualizer" type="edge2odom.py" name="edge2odom_node" output="screen">
        <param name="frame_id" type="string" value="$(arg frame_id)" />
        <param name="edge_topic" type="string" value="/imu_integration_node/imu_edge" />
        <param name="odom_topic" type="string" value="/odom_visualizer_node/input_odom" />
    </node>

    <node pkg="odom_visualizer" type="odom_visualizer_node" name="odom_visualizer_node" output="screen">
        <param name="frame_id" type="string" value="$(arg frame_id)" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find imu_integration)/rviz/test_kitti.rviz" />

</launch>
